<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomas.photonavi">

    <permission
        android:name="com.example.thomas.photonavi.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- 디바이스가 잠금이되어 화면이 꺼져있을 경우 디바이스를 깨우는 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <!-- [START gallary permission] -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- [END gallary permission] -->


    <!-- [START camera permission] -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- [EMD camera permission] -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--android:largeHeap="true"-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBkaJOkW5Rkom3cDMNJyrAySibb7vFaol0" />

        <meta-data android:name="com.parse.push.gcm_sender_id"
            android:value="id:YOUR_SENDER_ID" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro" />
        -->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.MemberActivity"
            android:label="@string/title_activity_member" />
        <activity
            android:name=".activity.ContentsActivity"
            android:label="@string/title_activity_contents" />
        <activity
            android:name=".activity.RegistActivity"
            android:label="@string/title_activity_regist_text" />


        <!-- [START gcm_receiver] -->
        <!--
        GCM을 받기 위한 리시버를 만들어야하는데 GCM 리시버는 특별히 구현할 필요가 없다.
        GCM 라이브러리 안에 이미 구현체가 있기 때문에 정의만하면 된다.
        -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- 각각의 App Package 경로로 변경 -->
                <category android:name="com.example.thomas.photonavi" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener_service] -->
        <!--
         GCM 리스너 서비스는 GCM 메세지가 디바이스로 전송이되면 메세지를 받아서 처리하는
         프로그램을 서비스로 정의한다. GCM 받아서 실제 Notification Center에 어떻게 나타내는지를 정의한다.
         이후에 살펴볼 MyGcmListenerService.java에 내용을 구현할 것이다.
        -->
        <service
            android:name="com.example.thomas.photonavi.service.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener_service] -->

        <!-- [START instanceId_listener_service] -->
        <!--
        최근 GCM 서비스에서는 Instance ID를 사용한다. 이것은 Android, iOS의 고유한 ID로 GCM에서
        디바이스를 구분하기 위한 것이다. Instance ID를 위한 리서너를 MyInstanceIDListener.java에서
        구현할 것이다.
        -->
        <service
            android:name="com.example.thomas.photonavi.service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener_service] -->

        <!-- [START gcm_registration_service] -->
        <!--
        실제 디바이스에서 Instance ID를 사용하여 디바이스를 GCM에 등록하고 디바이스 고유 토큰을
        생성하기 위한 서비스를 RegistrationIntentService.java에서 구현할 것이다.
        -->
        <service
            android:name="com.example.thomas.photonavi.service.RegistrationIntentService"
            android:exported="false"></service>
        <!-- [END gcm_registration_service] -->

    </application>

</manifest>
